body {
    margin: 0; /* Eliminates default margin */
    padding: 0; /* Eliminates default padding */
    background-color: #28221D; /* Keeps your chosen background color */
    color: #F4EAEA; /* Keeps your chosen text color */
    font-family: 'Source Serif 4', serif;
}

.blurb {
    font-size: 0.95rem; /* Example of a smaller font size; adjust as needed */
    margin-top: 0px; /* Reduce or remove the top margin */
}

/* Article Box - adding bottom margin */
.article-box {
    border: 1px solid #736559;
    padding: 0;
    width: calc((100% - 20px) / 4);
    min-height: 365px; /* Changed from height to min-height */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden; /* Consider changing to visible if you want overflow to be shown */
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.article-box h3 {
    margin-top: 0px; /* Removes space above the title */
    margin-bottom: 10px; /* Reduced bottom margin */
    font-weight: 450; /* Match the weight of topic names */
    font-size: 1.3rem; /* Match the size of topic names */
}

.article-box:hover img {
    transform: scale(1.1); /* Zoom effect */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.article-box img {
    width: 100%;
    height: 182.5px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease; /* Ensure this is set for smooth reverse transition */
}

.article-info {
    padding: 22px; /* Increase padding for more space around the text */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
    background-color: #3E362F;
}

.article-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits color from parent elements */
    display: flex; /* Ensures the link behaves like its child flex containers */
    flex-direction: column; /* Maintains the original layout direction */
    height: 100%; /* Ensures the link covers the entire height of the box */
    width: 100%; /* Ensures the link covers the entire width of the box */
}

.article-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Keeps items aligned to the start */
    gap: 5px;
    margin: 0 auto; /* Center the list within the content-container */
    max-width: calc(100% - 30px); /* Adjust the width to ensure it's centered */
}

/* Reduce font weight for topic names */
.topic-box h3 {
    font-weight: 350; /* Adjust the value to your preference */
    font-size: 1.3rem;
    text-align: center; /* Center-aligns the text */
}

/* Ensure .content-container aligns with the new header setup */
.content-container {
    width: 100%;
    max-width: 1200px; /* Ensure this matches the header container for alignment */
    margin: 0 auto;
    padding: 0 15px; /* This padding is crucial for alignment with the header */
    box-sizing: border-box;
}

/* New Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px; /* This should match your content-container padding for alignment */
    max-width: 1200px; /* This should match your content-container's max-width */
}

/* Navigation (includes GitHub logo) styling */
.nav-bar {
    display: flex;
    align-items: center;
    /* Add any specific styling for your nav-bar here (e.g., gap for spacing elements within) */
}

.navbar ul {
    display: flex;
    gap: 20px; /* Adjust based on your preference */
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

.navbar a {
    color: #F4EAEA; /* Your text color */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar img {
    height: 20px; /* Adjust based on your logo's size */
    width: auto;
    margin-right: 10px; /* If you want some space between the logo and the text */
}

.publication-info {
    margin-bottom: 0px; /* Removes space below the publication date */
    color: #918D8C;
    font-size: 0.87rem;
}

.subtopic-list {
    list-style-type: none;
}

/* Adjusted Topic Box for better alignment */
.topic-box {
    border: 1px solid #736559;
    padding: 0;
    width: calc((350px - 5px) / 2); /* This calculation might need to be adjusted for responsiveness */
    min-height: auto; /* Allows the box to grow with the content, consider setting a specific min-height */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden; /* Consider changing to visible if you want overflow content to be shown */
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Hover effects for topic images, similar to article images */
.topic-box:hover img {
    transform: scale(1.1); /* Zoom effect */
    transition: transform 0.3s ease;
}

/* Topic images, similar to article images */
.topic-box img {
    width: 100%;
    height: 182.5px; /* Adjust or keep auto for responsive height */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

/* Topic Info - similar to article info */
.topic-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; /* Takes up remaining space */
    overflow: hidden;
    background-color: #3E362F;
}

.topic-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits color from parent elements */
    display: flex; /* Ensures the link behaves like its child flex containers */
    flex-direction: column; /* Maintains the original layout direction */
    height: 100%; /* Ensures the link covers the entire height of the box */
    width: 100%; /* Ensures the link covers the entire width of the box */
}

/* Topic List - mirroring article list styles */
.topic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px; /* Example gap size */
    margin: 0 auto;
    padding: 0;
    max-width: calc(100% - 30px); /* Adjust based on your layout */
}

/* Adjust the .welcome-message if necessary to ensure proper alignment */
.welcome-message {
    text-align: left;
    padding-bottom: 20px; /* Adjust as needed */
}

/* Ensure two articles are shown side by side up to the 1024px breakpoint */
@media (max-width: 1024px) {
    .article-box {
        width: calc(50% - 5px); /* Adjusts width to show two boxes side by side, accounting for a 5px gap */
        margin-bottom: 20px; /* Keeps bottom margin */
    }
}

@media (max-width: 768px) {
    .article-info {
        padding: 15px; /* Reduced padding on smaller screens */
        font-size: 0.8rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 768px) {
    .header-flex-container {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        margin-top: 20px; /* Adds some space between the welcome message and the navbar on smaller screens */
    }

    .navbar ul {
        justify-content: center;
    }
}

@media (min-width: 1025px) {
    .topic-box {
        /* Subtract the total gap space from 100%, then divide by 6 for six boxes */
        width: calc((100% - (5 * 6px)) / 6); /* Adjust the gap size (5px) as needed */
        margin-bottom: 20px; /* Consistent bottom margin, adjust as needed */
    }
}

/* Adjust topic boxes for 2x3 page view */
@media (max-width: 1024px) {
    .topic-box {
        width: calc((100% / 3) - (5px)); /* Adjusts width for three topic boxes per row, accounting for gaps */
        margin-bottom: 20px; /* Consistent bottom margin */
    }

    /* Reduce gap between topic boxes */
    .topic-list {
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .topic-box {
        width: calc(100% / 2 - 6px); /* Adjusts width for smaller screens, ensure gap is accounted for */
        padding: 10px; /* Adjust padding to allow more space for content */
    }
    .topic-info {
        padding: 10px; /* Reduced padding on smaller screens */
        font-size: 0.8rem; /* Adjust font size for readability on smaller screens */
    }
}