{% extends 'wiki/base.html' %}

{% block welcome_message %}
    <h1>All Topics</h1>
    <p>Common Topics in IT with subtopics!</p>
{% endblock %}

{% block content %}
{% if all_topic_list %}
<ul class="topic-list">
    {% for topic in all_topic_list %}
    <li class="topic-box">
        <a href="{% url 'wiki:topic_detail' topic.id %}" class="topic-link">
        <img src="{{ topic.image.url }}" alt="{{ topic.name }}">
        <div class="topic-info">
            <h3>{{ topic.name }}</h3>
        </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No topics are available.</p>
{% endif %}
{% endblock %}
