{% extends 'wiki/base.html' %}
{% load static %}

{% block welcome_message %}
    <h1>All Articles</h1>
    <p>Situations in Network Troubleshooting, User Support, Cybersecurity, and more!</p>
{% endblock %}

{% block content %}
{% if all_articles_list %}
<script src="{% static 'wiki/articles_handler.js' %}"></script>
<ul class="article-list">
    {% for article in all_articles_list %}
    <li class="article-box">
        <a href="{{article.link}}" class="article-link">
            <img src="{{ article.image.url }}" alt="{{ article.title }}">
            <div class="article-info">
                <em class="publication-info">Published on {{ article.date_published|date:"Y-m-d" }} • Tag: {{ article.tag }}</em>
                <h3>{{ article.title }}</h3>
                <p class="blurb">{{ article.blurb }}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
<div class="view-more-wrapper">
    <a href="https://medium.com/@danieljun3" class="view-more-link">
        View More Articles at my Medium page! <img src="{% static 'wiki/images/mediumicon.png' %}" alt="Medium Logo" class="mediumicon">
    </a>
</div>

{% else %}
<p>No articles are available.</p>
{% endif %}

{% endblock %}
