{% extends 'wiki/base.html' %}
{% load static %}

{% block welcome_message %}
    <h1>Subtopics for {{ object.name }}</h1>
    <p>Custom text specific to the {{ object.name }}</p>
{% endblock %}

{% block content %}

<script src="{% static 'wiki/subtopic_handler.js' %}"></script>
<ul class="subtopic-list">
    {% for subtopic in object.subtopic_set.all %}
        <li class="subtopic-item" id="subtopic-{{ subtopic.id }}">
            <input type="checkbox" onclick="toggleSubtopicStatus({{ subtopic.id }}, this.checked)" {% if subtopic.status %} checked {% endif %}> 
            <a href="{{ subtopic.note_link }}" class="{{ subtopic.status|yesno:'text-success,' }}" style="text-decoration: none; color: inherit;">
                <span class="subtopic-code">{{ subtopic.code }}:</span> 
                <span class="subtopic-name">{{ subtopic.name }} -</span> 
                <span class="subtopic-description">{{ subtopic.description }}</span>
            </a>
        </li>
    {% empty %}
        <p>No subtopics available.</p>
    {% endfor %}
</ul>
{% endblock %}