{% extends 'wiki/base.html' %}

{% block welcome_message %}
    <h1>Custom Welcome Title for Index Page</h1>
    <p>Custom text specific to the index page.</p>
{% endblock %}

{% block content %}
{% if latest_article_list %}
<ul class="article-list">
    {% for article in latest_article_list %}
    <li class="article-box">
        <a href="{% url 'wiki:article_detail' article.id %}" class="article-link">
        <img src="{{ article.image.url }}" alt="{{ article.title }}">
            <div class="article-info">
                <em class="publication-info">Published on {{ article.date_published|date:"Y-m-d" }} • Tag: {{ article.tag }}</em>
                <h3>{{ article.title }}</h3>
                <p class="blurb">{{ article.blurb }}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No articles are available.</p>
{% endif %}

{% if topic_list %}
<ul class="topic-list">
    {% for topic in topic_list %}
    <li class="topic-box">
        <a href="{% url 'wiki:topic_detail' topic.id %}" class="topic-link">
            <img src="{{ topic.image.url }}" alt="{{ topic.name }}">
            <div class="topic-info">
                <h3>{{ topic.name }}</h3>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No topics are available.</p>
{% endif %}
{% endblock %}
