<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
    <script src="{% static 'wiki/layout.js' %}"></script>
    <meta charset="UTF-8">
    <title>Wiki Articles</title>
</head>
<body>
    {% if latest_article_list %}
        <ul class="article-list">
            {% for article in latest_article_list %}
                <li class="article-box">
                    <a href="{% url 'wiki:detail' article.id %}">
                        {{ article.title }}
                    </a>
                    <em>Published on {{ article.date_published|date:"Y-m-d H:i" }}</em>
                    <p>{{ article.blurb }}</p> <!-- Displaying the article's blurb -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
        
</body>
</html>
